<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="bg-white rounded-bottom p-5">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="mb-3">Detail Employee</h1>
        </div>
        <div class="p-3">
          <form [formGroup]="employeeForm" (ngSubmit)="onOk()">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" required>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" formControlName="email" required>
            </div>
            <div class="form-group">
              <label for="basicSalary">Basic Salary</label>
              <input type="text" class="form-control" id="basicSalary" name="basicSalary" formControlName="basicSalary" required>
            </div>
            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" id="status" name="status" formControlName="status" required>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>
            <div class="form-group">
              <label for="group">Group</label>
              <input type="text" class="form-control" id="group" name="group" formControlName="group" required>
            </div>
            <div class="form-group">
              <label for="birthDate">Birth Date</label>
              <input type="date" class="form-control" id="birthDate" name="birthDate" formControlName="birthDate" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" name="description" formControlName="description" required></textarea>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-lg btn-primary text-white rounded-0 px-5 my-3">Ok</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
