<div class="container-fluid d-flex flex-column justify-content-center " style="min-height: 100vh;">
    <div class="row">
      <div class="col-lg-4 col-md-6 mx-auto">
        <div class="bg-white shadow-lg login-card">
              <div class="bg-light d-flex justify-content-center align-items-center">
                <img
                  src="assets/logo-sandi.svg"
                  class="img-fluid w-50 py-5"
                  alt="Login Image"
                />
              </div>
              <form
                class="p-5"
                (ngSubmit)="onSubmit()"
                novalidate
              >
              <h1 class="">Login</h1>
                <input-text placeholder="Enter Username" label="Username" [(value)]="username"></input-text>
                <input-text type="password" placeholder="Enter Password" label="Password" [(value)]="password"></input-text>
                <button type="submit" class="btn btn-lg btn-primary text-white rounded-0 px-5 my-3">Sign in</button>
              </form>
        </div>
      </div>
    </div>
</div>
