$primary: #d33f8d;
.form-group {
  padding-bottom: 15px;
  .form-control {
    border-radius: 0 !important;
    font-family: 'Lato', sans-serif;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid grey;
    transition: all .2s;
    background: transparent;
    &:focus {
      font-weight: 900;
      border-width: 2px;
      border-image: linear-gradient(to right, $primary,black);
      border-image-slice: 1;
      box-shadow: none;
    }
  }
  .form-label {
    font-weight: 300;
    margin-bottom: 0;
  }
}
th {
  &:hover {
    cursor: pointer;
  }
}
